html {
  font-family: monospace;
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
  background-color: lightgray;
}

main {
  background-color: white;
  padding-top: 1px;
  padding-bottom: 10px;
}

footer {
  background-color: #216477;
  padding-top: 1px;
}

.simple-header--centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #216477;
}

.main-navigation__items {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  list-style-type: none;
  width: 762px;
  padding-right: 40px;
  padding: 10px;
  margin: 0px;
  border-bottom: 1px solid white;
}

.nav-item {
  color: white;
  font-style: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 5px;
}

.name {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 400;
  padding: 16px 16px;
  color: #ff8800;
}

h2 {
  padding: 0px 10px;
  padding-top: 10px;
  color: #ff8800;
}

h3 {
  font-style: italic;
  color: #ff8800;
  padding-left: 10px;
  padding-top: 10px;
}

p {
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #464646;
}

.years {
  color: #464646;
  padding-left: 10px;
}

a:link {
  background-color: #216477;
}

a:visited {
  background-color: #216477;
}

a:hover {
  font-weight: 600;
  font-size: 16px;
}

a:active {
  font-size: 16px;
}

.techskillslist {
  list-style-type: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.unitechskill {
  display: flex;
  gap: 2em;
  justify-content: center;
}

.tsql {
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.vba {
  width: 200px;
  height: auto;
  padding-top: 20px;
  margin-top: 10px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.frontend-skills {
  display: flex;
  padding-left: 0px;
  gap: 2em;
  justify-content: center;
}

.html5,
.css3,
.javascript,
.vue {
  height: 100px;
  width: auto;
  padding-top: 10px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}

.zoomeffekt-tsql-vba {
  transition: transform 0.8s;
}

.zoomeffekt-tsql-vba:hover,
.zoomeffekt-tsql-vba:focus {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.zoomeffekt-rest {
  transition: transform 0.8s;
}

.zoomeffekt-rest:hover,
.zoomeffekt-rest-vba:focus {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.profile-article,
.experiences-articles,
.article-skills {
  box-shadow: inset 2em -2em 2em rgba(0, 0, 0, 0), 0 0 0 1px rgb(255, 255, 255),
    0.2em 0.2em 1em rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0%;
  width: 98%;
  margin-left: 7px;
}

#contact {
  color: #ff8800;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

.contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clist {
  display: flex;
  gap: 2em;
  padding: 10px 0px;
}

.contact-item {
  list-style-type: none;
}

#fb-logo {
  width: 40px;
  height: auto;
}

#xing-logo {
  width: 40px;
  height: auto;
}

#linkedin-logo {
  width: 50px;
  height: auto;
}

#github-logo {
  width: 45px;
  height: auto;
}

#email-logo {
  width: 50px;
  height: auto;
}

#phone-logo {
  padding-top: 2px;
  width: auto;
  height: 40px;
}
